@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/*
    facem variabile pentru fiecare culoare
    astfel sa fie usor de refolosit
*/
:root {
    --white: #ffffffff;
    --black: #000000ff;
    --orange-pantone: #fb5607ff;
    --blue-munsell: #118b9eff;
    --penn-blue: #001c55ff;
    --oxford-blue: #00072dff;
}

a {
    text-decoration: none !important;
}
.text-galben {
    color: var(--orange-pantone) !important;
}
.bg-albastru {
    background-color: var(--oxford-blue) !important;
}
.btn-outline-secondary {
    border-color: var(--blue-munsell) !important;
    color: var(--blue-munsell) !important;
}
.btn-outline-secondary:hover {
    background-color: var(--blue-munsell) !important;
    color: var(--white) !important;
}
input, select {
    color: var(--blue-munsell) !important;
    border-color: var(--blue-munsell) !important;
}
a {
    transition: .2s;
}
a.text-galben:hover {
    transition: .2s;
    color: var(--oxford-blue) !important;
}
.nav-link {
    color: var(--white) !important;
    transition: .2s;
}
.nav-link:hover {
    color: var(--orange-pantone) !important;
    transition: .2s;
}
a > svg > #logo {
    fill: var(--blue-munsell) !important;
    transition: .2s;
}
a:hover > svg > #logo {
    fill: var(--orange-pantone) !important;
    transition: .2s;
}
.w-sm-90 {
    width: 50% !important;
}

@media (max-width: 425px) {
    .fl-cont {
        flex-direction: column !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-90 {
        width: 90% !important;
    }
}