@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/*
    facem variabile pentru fiecare culoare
    astfel sa fie usor de refolosit
*/
:root {
    --white: #ffffffff;
    --black: #000000ff;
    --orange-pantone: #fb5607ff;
    --blue-munsell: #118b9eff;
    --penn-blue: #001c55ff;
    --oxford-blue: #00072dff;
}

a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
.text-justify ul li::before {
    content: "\25B8";
    color: var(--blue-munsell);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.text-galben {
    color: var(--orange-pantone) !important;
}
.text-albastru {
    color: var(--blue-munsell) !important;
}
.text-underline {
    text-decoration: underline !important;
    text-decoration-color: var(--orange-pantone) !important;
} 
.bg-albastru {
    background-color: var(--oxford-blue) !important;
}
.btn-outline-secondary {
    border-color: var(--blue-munsell) !important;
    color: var(--blue-munsell) !important;
}
.btn-outline-secondary:hover {
    background-color: var(--blue-munsell) !important;
    color: var(--white) !important;
}
.form-check-input:checked {
    border-color: var(--blue-munsell) !important;
    background-color: var(--blue-munsell) !important;
}
input, select {
    color: var(--blue-munsell) !important;
    border-color: var(--blue-munsell) !important;
}
a {
    transition: .2s;
}
a.text-galben:hover {
    transition: .2s;
    color: var(--oxford-blue) !important;
}
.nav-link {
    color: var(--white);
    transition: .2s;
}
.nav-link:hover {
    color: var(--orange-pantone) !important;
    transition: .2s;
}
a > svg > #logo {
    fill: var(--blue-munsell) !important;
    transition: .2s;
}
a:hover > svg > #logo {
    fill: var(--orange-pantone) !important;
    transition: .2s;
}
.w-sm-90 {
    width: 50% !important;
}
.w-md-100 {
    width: 75% !important;
}
.text-justify {
    text-align: justify !important;
}
.pt-md-none {
    padding: 0px !important;
}
.image-hover {
    transition: 0.6s;
    visibility: hidden !important;
    opacity: 0 !important;
    top:50%;
    transform: translateY(0) !important;
}
.image-hover-container:hover .image-hover {
    opacity: 1 !important;
    visibility:visible !important;
    transform: translateY(-50%) !important;
}
.image-hover-container {
    margin-top: 8px !important;
    overflow: hidden !important;
}
.image-hover-container:hover img{
    filter: grayscale(80%);
}
.image-hover > p {
    text-shadow: 0 0 3px var(--orange-pantone), 0 0 5px var(--orange-pantone) !important;
    color: var(--white);
    text-align: center;
}
@media (max-width: 425px) {
    .fl-cont {
        flex-direction: column !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-90 {
        width: 90% !important;
    }
    .w-md-100 {
        width: 90% !important;
    }
    .pt-3-md-none {
        padding-top: 1rem;
    }
    .nav-link {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
.row {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 4px !important;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25% !important;
    max-width: 33.3% !important;
    padding: 0 4px !important;
  }
  
  .column img {
    vertical-align: middle !important;
    width: 100% !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: 0.3s linear !important;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50% !important;
      max-width: 50% !important;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100% !important;
      max-width: 100% !important;
    }
}